PORT=3003
DATABASE_URL="postgre url"
REDIS_URL="redis url"

# ActiveMQ STOMP config default config
# ACTIVEMQ_HOST=localhost
ACTIVEMQ_HOST=notif-activemq
ACTIVEMQ_STOMP_PORT=1212
ACTIVEMQ_USER=ass2
ACTIVEMQ_PASSWORD=as
DISABLE_MQ_CONSUMER=false

# Broadcast pseudo user for admin notifications.
# Admin users will see notifications with their own user id + this broadcast id.
ADMIN_BROADCAST_USER_ID=ADMIN_BROADCAST
